.search-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 16px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.search-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 20vw;
}

.filter-options {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.filter-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
